.show-mobile-menu {
  &.menu-mobile-wrap {
    opacity: 1;
    visibility: visible;
    .mobile-menu-inner {
      transform: none;
    }
  }
}

.menu-mobile-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 99999;

  .mobile-menu-overlay {
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(black, 0.8);
  }
  .mobile-menu-inner {
    position: relative;
    width: 350px;
    max-width: 80%;
    height: 100%;
    text-align: left;
    transition: all 0.3s;
    transform: translateX(-100%);
    background-color: white;
  }
  .close-btn {
    position: absolute;
    height: 50px;
    width: 50px;
    border: none;
    left: 100%;
    top: 0;
    padding: 0;
    color: black;
    background-color: white;
    &:hover {
      background-color: black;
      color: white;
      .close-moblie-style {
        transform: rotate(90deg);
      }
    }
  }
  .mobile-logo {
    width: 200px;
  }
}

.menu-mobile-wrap {
  height: 100%;
  overflow-y: auto;
}

.navigation-moblie-inner {
  padding: 30px 20px;
  .mobile-menu {
    & li a {
      font-weight: 600;
      line-height: 35px;
      text-transform: capitalize;
    }
  } 
  .mobile-menu-active{
    position: relative;
  }
  .mobile-menu-active:hover .submenu {
    opacity: 1;
    display: block;
    top: 100%;
  }
  .submenu-toggle {
    width: 35px;
    height: 35px;
    background-color: #f3f3f3;
    text-align: center;
    font-size: 28px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;

    i {
        transition: 0.3s;
        line-height: 35px;
    }
    &.active {
        i {
            transform: rotate(-180deg);
        }
    }

    .submenu {
      display: none;
      padding-top: 5px;
      padding-left: 15px;
      &.active {
          display: block;
      }
      li {
          margin-bottom: 5px;
          
          &.title > {
              a {
                  font-weight: 500;
              }
          }
          .submenu {
              li {
                  a {
                      line-height: 25px;
                      font-weight: 400;
                  }
              }
          }
      }
  }
}
 


/* Dropdown styles */

.dropdown {
  max-width: 13em;
  margin: 80px auto 0;
  position: relative;
  width: 100%;
}

.dropdown-btn {
  background: #1d1f24;
  font-size: 18px;
  width: 100%;
  border: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: transform ease-in-out 0.3s;
}

.dropdown-content {
  list-style: none;
  position: absolute;
  top: 3.2em;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
}

.dropdown-content li {
  background: #2f3238;
  border-radius: 0.5em;
  position: relative;
  left: 100%;
  transition: 0.5s;
  transition-delay: calc(60ms * var(--delay));
}

.dropdown:focus-within .dropdown-content li {
  left: 0;
}

.dropdown:focus-within .dropdown-content {
  visibility: visible;
}

.dropdown:focus-within .dropdown-btn > .arrow {
  transform: rotate(180deg);
}

.dropdown-content li:hover {
  background: #1d1f24;
}

.dropdown-content li a {
  display: block;
  padding: 0.7em 0.5em;
  color: #fff;
  margin: 0.1em 0;
  text-decoration: none;
}

/* base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", sans-serif;
  color: #333;
/*   background: #cecece; */
}
}


